/*______________________ google fonts ______________________*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/*______________________ variables css ______________________*/
:root {
  --header-height: 3.5rem;

  /*colors*/

  --first-color: #31a0c2;
  --first-color-alt: #34a7ce;
  --first-color-light: #52a8c5;
  --first-color-lighten: #daf6ff;
  --second-color: #d49c01;
  --title-color: #00384b;
  --text-color: #595e5f;
  --text-color-light: #bebebe;
  --border-color: #eaf5f8;
  --body-color: #f6fdfd;
  --container-color: #e7fcff;

  /*______________________ typography ______________________*/

  /*1rem = 10px*/

  --body-font: "poppins", sans-serif;
  --biggest-font-size: 3.6rem;
  --h1-font-size: 2.4rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.6rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 1.3rem;
  --smaller-font-size: 1.2rem;

  /*________________font weight ______________*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*________________ z index ______________*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*______________________ responsive typography ______________________*/
@media (min-width: 1024px) {
  :root {
    --biggest-font-size: 6.4rem;
    --h1-font-size: 3.6rem;
    --h2-font-size: 2.4rem;
    --h3-font-size: 2rem;
    --normal-font-size: 1.6rem;
    --small-font-size: 1.4rem;
    --smaller-font-size: 1.3rem;
  }
}

/*______________________ base ______________________*/

html {
  /*1rem = 10px*/
  font-size: 62.5%;

  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: var(--body-font);
  margin: 0;
  outline: none;
  border: none;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: var(--body-color);
  color: var(--text-color);
  border: none;

  transition: 0.3s; /*for dark mode animation*/
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

img {
  width: 100%;
  height: auto;
}
/*____________________________________change-theme__________________*/

.change-theme {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.change-theme:hover {
  color: var(--first-color);
}

/*_____________________________variables dark theme_______________*/

body.dark-theme {
  --first-color: #41d9ff;

  --second-color: #b18200;
  --title-color: #e1f7ff;
  --text-color: #a4aeaf;

  --border-color: #18191a;
  --body-color: #0f0f0f;
  --container-color: #000d0f;
}

/*
color changes in some parts of 
the website in dark mode
*/

.dark-theme .home__search,
.dark-theme .swiper-button-next,
.dark-theme .swiper-button-prev {
  border: 3px solid var(--border-color);
}

.dark-theme .nav__menu,
.dark-theme .home__img,
.dark-theme .popular__card:hover,
.dark-theme .value__img,
.dark-theme .accordion-open,
.dark-theme .accordion-open .value__accordion-icon,
.dark-theme .accordion-open .value__accordion-arrow,
.dark-theme .contact__img,
.dark-theme .contact__card-box:hover,
.dark-theme .scrollup {
  box-shadow: none;
}

.dark-theme .value__orbe,
.dark-theme .value__accordion-icon,
.dark-theme .value__accordion-arrow,
.dark-theme .contact__orbe,
.dark-theme .contact__card i,
.dark-theme .contact__card-button,
.dark-theme .subscribe__container {
  background: var(--container-color);
}

.dark-theme .subscribe__container {
  border: 6px solid var(--border-color);
}

.dark-theme .subscribe__description {
  color: var(--text-color);
}

.dark-theme::-webkit-scrollbar {
  background: #000000;
}
.dark-theme::-webkit-scrollbar-thumb {
  background: #272727;
}
.dark-theme::-webkit-scrollbar-thumb:hover {
  background: #424242;
}

/*______________________ reusable css classes ______________________*/

.container {
  max-width: 1024px;
  margin: 0 auto; /*was 0 1.5rem*/
}

.grid {
  display: grid;
}

.section {
  padding: 4.5rem 1.5rem 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.section__title span {
  color: var(--second-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--second-color);
}

.main {
  overflow: hidden; /*for scrollreveal animation*/
}

/*______________________ reusable css classes end ______________________*/

/*______________________ Header & navigation bar ______________________*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: var(--z-fixed);
  transition: 0.4s ease; /*for dark mode animation*/
  padding: 1.5rem;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  transition: 0.3s;
  width: 150px;
  position: relative;
}

.nav__logo:hover {
  filter: brightness(90%);
}

.nav__logo .logo-dark {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

body.dark-theme .nav__logo .logo-dark {
  display: none;
}

@media (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    bottom: 2rem;
    left: 0;
    right: 0;
    width: 90%;
    background: var(--container-color);
    box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    padding: 1.3rem 3rem;
    border-radius: 1.25rem;
    transition: 0.4s;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__link {
    color: var(--text-color);
    display: flex;
    padding: 0.5rem;
    border-radius: 50%;
  }

  .nav__link i {
    font-size: 2rem;
  }

  .nav__link span {
    display: none;
  }
}

/* change background header*/
.scroll-header {
  background: var(--body-color);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}
.scroll-header .nav__logo .logo-white {
  display: none;
}

.scroll-header .nav__logo .logo-dark {
  display: block;
}

.scroll-header .change-theme {
  color: var(--title-color);
}

/* active link*/

.active-link {
  background: linear-gradient(
    101deg,
    var(--first-color-alt),
    var(--first-color-light)
  );
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 77, 107, 0.25);
}

/*______________________ Header & navigation bar ends______________________*/

/*______________________ Home section starts______________________*/

.home {
  background: linear-gradient(170deg, hsl(0, 0%, 22%) 0%, hsl(0, 0%, 6%) 30%);
  padding-bottom: 0;
}

.home__container {
  padding-top: 4rem;
  row-gap: 3.5rem;
}

.home__title,
.home__value-number {
  color: #fff;
}

.home__title {
  font-size: var(--biggest-font-size);
  line-height: 120%;
  margin-bottom: 1.25rem;
}

.home__description {
  color: var(--text-color-light);
  margin-bottom: 2rem;
}

.home__search {
  background: var(--body-color);
  padding: 0.35rem 0.35rem 0.35rem 0.75rem;
  display: flex;
  align-items: center;
  border-radius: 0.75rem;
  border: 3px solid var(--text-color-light);
  margin-bottom: 2rem;
}

.home__search i {
  font-size: 2rem;
  color: var(--text-color);
}

.home__search-input {
  width: 90%;
  background: var(--body-color);
  color: var(--text-color);
  margin: 0 0.5rem;
}

.home__search-input::placeholder {
  color: var(--text-color-light);
}

.home__value {
  display: flex;
  column-gap: 2.5rem;
}

.home__value-number {
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
}

.home__value-number span {
  color: var(--second-color);
}

.home__value-description {
  display: flex;
  color: var(--text-color-light);
  font-size: var(--smaller-font-size);
}

.home__images {
  position: relative;
  display: flex;
  justify-content: center;
}

.home__orbe {
  width: 265px;
  height: 284px;
  background: linear-gradient(
    180deg,
    hsl(0, 0%, 16%) 93%,
    hsl(0, 0%, 67%) 100%
  );
  border-radius: 135px 135px 0 0;
}

.home__img {
  position: absolute;
  overflow: hidden;
  width: 250px;
  height: 300px;

  border-radius: 125px 125px 12px 12px;

  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.25);
  bottom: -2.5rem;
}

.home__img img {
  height: 100%;
  object-fit: cover;
}

/*<!--___________________ button  _______________-->*/

.button {
  display: inline-block;
  background: linear-gradient(
    101deg,
    var(--first-color-alt),
    var(--first-color)
  );
  padding: 14px 28px;
  border-radius: 0.5rem;
  font-size: var(--normal-font-size);
  box-shadow: 0 4px 8px rgba(0, 77, 107, 0.25);
  font-weight: var(--font-medium);
  color: var(--body-color);
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.nav__button {
  display: none;
}

/*______________________ Home section ends______________________*/
/*______________________ logos section starts______________________*/

.logos__container {
  padding-top: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: 3rem 2rem;
  justify-items: center;
}

.logos__img img {
  height: 60px;
  opacity: 0.4;
  object-fit: contain;
  transition: 0.3s;
}

.logos__img img:hover {
  opacity: 0.8;
}

/*______________________ logos section ends______________________*/
/*______________________ popular section starts______________________*/

.popular__container {
  padding: 1rem 0 5rem;
}

.popular__card {
  width: 290px !important;
  background: var(--container-color);
  padding: 0.5rem 0.5rem 1.5rem;
  border-radius: 1rem;
  margin: 0 auto;
  transition: 0.4s;
}

.popular__img img {
  border-radius: 1rem;
  object-fit: cover;

  margin-bottom: 1rem;
}

.popular__img {
  height: 20rem;
  width: 100%;
  display: inline-flex;
}

.popular__data {
  padding: 0 1rem 0 0.5rem;
}

.popular__price {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  margin-bottom: 0.25rem;
}

.popular__price span {
  color: var(--second-color);
}

.popular__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.75rem;
}

.popular__description {
  font-size: var(--small-font-size);
}

.popular__card:hover {
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.15);
}

/*______________________ popular section ends______________________*/

/*______________________ swiper popular ______________________*/
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  top: initial;
  background: var(--container-color);
  bottom: 0;
  width: initial;
  height: initial;
  border: 2px solid var(--text-color-light);
  font-size: 1.5rem;
  padding: 6px;
  border-radius: 0.5rem;
  color: var(--first-color);
}

.swiper-button-prev {
  left: calc(50% - 3rem);
}

.swiper-button-next {
  right: calc(50% - 3rem);
}

/*______________________ value section starts______________________*/

.value__container {
  row-gap: 3rem;
}

.value__images {
  position: relative;
  display: flex;

  justify-content: center;
}

.value__orbe {
  width: 266px;
  height: 316px;
  background: #eafaff;
  border-radius: 135px 135px 16px 16px;
}

.value__img img {
  height: 100%;
  object-fit: cover;
}

.value__img {
  border-radius: 125px 125px 12px 12px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.25);
  height: 300px;
  inset: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  width: 250px;
}

.value__description {
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}

.value__accordion {
  display: grid;
  row-gap: 1.5rem;
}

.value__accordion-item {
  background: var(--body-color);
  border: 2px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
}

.value__accordion-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.value__accordion-icon {
  background: var(--first-color-lighten);
  padding: 5px;
  border-radius: 0.25rem;
  font-size: 18px;
  color: var(--first-color);
  margin-right: 0.75rem;
  transition: 0.3s;
}

.value__accordion-title {
  font-size: var(--small-font-size);
}

.value__accordion-arrow {
  display: inline-flex;
  background: var(--first-color-lighten);
  padding: 0.25rem;
  color: var(--first-color);
  border-radius: 2px;
  font-size: 1rem;
  margin-left: auto;
  transition: 0.3s;
}

.value__accordion-arrow i {
  transition: 0.4s;
}

.value__accordion-description {
  font-size: var(--small-font-size);
  padding: 1.25rem 2.5rem 0 2.75rem;
}

.value__accordion-content {
  overflow: hidden;
  height: 0;
  transition: all 0.25s ease;
}

/*______________________ rotate icon and shadows______________________*/
.accordion-open {
  box-shadow: 0 12px 32px rgba(0, 162, 255, 0.1);
}

.accordion-open .value__accordion-icon {
  box-shadow: 0 4px 4px rgba(0, 162, 255, 0.1);
}

.accordion-open .value__accordion-arrow {
  box-shadow: 0 2px 4px rgba(0, 162, 255, 0.1);
}

.accordion-open .value__accordion-arrow i {
  transform: rotate(-180deg);
}
/*______________________ value section ends______________________*/
/*______________________ Contact section starts______________________*/

.contact__container {
  row-gap: 2rem;
}

.contact__images {
  position: relative;
  display: flex;
  justify-content: center;
}

.contact__orbe {
  width: 266px;
  height: 316px;
  background: #eafaff;
  border-radius: 135px 135px 16px 16px;
}

.contact__img img {
  height: 100%;
  object-fit: cover;
}

.contact__img {
  border-radius: 125px 125px 12px 12px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.25);
  height: 300px;
  inset: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  width: 250px;
}

.contact__description {
  font-size: var(--small-font-size);
  margin-bottom: 2.5rem;
}

.contact__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem 0.75rem;
}

.contact__card-box {
  background: var(--body-color);
  border: 2px solid var(--border-color);
  padding: 1.25rem 0.75rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.contact__card-info {
  display: flex;
  align-items: flex-start;
  column-gap: 0.75rem;
  margin-bottom: 1.25rem;
}

.contact__card i {
  padding: 6px;
  border-radius: 6px;
  background: var(--first-color-lighten);
  font-size: 2rem;
  color: var(--first-color);
}

.contact__card-title {
  font-size: var(--normal-font-size);
}

.contact__card-description {
  font-size: var(--small-font-size);
}

.contact__card-button {
  background: var(--first-color-lighten);
  border-radius: 0.25rem;
  box-shadow: none;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  padding: 14px 0;
  width: 100%;
}

.contact__card-button:hover {
  background: var(--first-color);
  color: #fff;
}

.contact__card-box:hover {
  box-shadow: 0 8px 24px rgba(0, 162, 255, 0.1);
}
/*______________________ Contact section ends______________________*/
/*______________________ Subscribe section starts______________________*/

.subscribe {
  padding: 2.5rem 0;
}

.subscribe__container {
  background: var(--first-color);
  padding: 3rem 2rem;
  border-radius: 1.25rem;

  border: 6px solid var(--first-color-light);
}

.subscribe__title {
  font-size: var(--h2-font-size);
  color: #fff;
  margin-bottom: 1rem;
}

.subscribe__description {
  color: #d8f1fd;
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}

.subscribe__button {
  border: 2px solid #fff;
  background: var(--first-color-light);
  font-size: var(--small-font-size);
}

.subscribe__button:hover {
  background: var(--first-color);
}
/*______________________ Subscribe section ends______________________*/
/*______________________ Footer section starts______________________*/

.footer__container {
  row-gap: 2.5rem;
}

.footer__logo {
  width: 15rem;
  position: relative;
  margin-bottom: 1.75rem;
  display: inline-flex;
}

.footer__description,
.footer__links {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.footer__content,
.footer__links {
  display: grid;
}

.footer__content {
  grid-template-columns: repeat(auto-fit, minmax(8rem, max-content));
  gap: 2.5rem 4rem;
  justify-content: center;
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.footer__links {
  row-gap: 0.5rem;
  white-space: nowrap;
}

.footer__link {
  color: var(--text-color);
  transition: 0.3s;
}

.footer__link:hover {
  color: var(--title-color);
}

.footer__social {
  display: flex;
  column-gap: 1rem;
}

.footer__social-link {
  font-size: 1.25rem;
  color: var(--text-color);
  transition: 0.3s;
}

.footer__social-link:hover {
  color: var(--title-color);
}

.footer__info,
.footer__privacy {
  display: flex;
}

.footer__info {
  padding-bottom: 6rem;
  margin-top: 5.5rem;
  flex-direction: column;
  text-align: center;
  row-gap: 1.5rem;
}

.footer__privacy a,
.footer__copy {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.footer__privacy {
  justify-content: center;
  column-gap: 1.25rem;
}

/*______________________ Footer section ends______________________*/

/*______________________ window scroll bar______________________*/

::-webkit-scrollbar {
  width: 0.6rem;
  background: rgb(189, 198, 199);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: rgb(119, 143, 146);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(101, 121, 124);
}

/*_____________________scroll up link starts_____________________________*/

.scrollup {
  background: var(--border-color);
  border-radius: 0.25rem;
  bottom: -30rem;
  box-shadow: 0 8px 12px rgba(39, 160, 190, 0.1);
  color: var(--text-color);
  display: inline-flex;
  font-size: 2rem;
  padding: 0.35rem;
  position: fixed;
  right: 1rem;
  transition: 0.3s;
  z-index: var(--z-tooltip);
}

.scrollup:hover {
  transform: translateY(-0.25rem);
  color: var(--first-color);
  background: var(--container-color);
}

.show-scroll {
  bottom: 8rem;
}

/*_____________________scroll up link ends_____________________________*/

/*________________________for small devices________*/
@media (max-width: 350px) {
  .container {
    margin: 0 1rem;
  }

  .section {
    padding: 3.5rem 2rem 1rem;
  }

  .home {
    padding-bottom: 0;
  }

  .contact__card {
    grid-template-columns: repeat(1, 180px);
    justify-content: center;
  }
}

@media (max-width: 320px) {
  .nav__menu {
    padding: 1.3rem 1.5rem;
  }

  .home__value {
    column-gap: 1rem;
  }
  .home__img {
    width: 220px;
    height: 280px;
  }

  .home__orbe {
    width: 240px;
    height: 264px;
  }

  .logos__container {
    gap: 2rem 1rem;
  }

  .popular__card {
    width: 230px;
    padding: 0.5rem 0.5rem 0.75rem;
  }

  .value__img,
  .contact__img {
    width: 220px;
    height: 260px;
  }

  .value__orbe,
  .contact__orbe {
    width: 236px;
    height: 280px;
  }

  .subscribe__container {
    padding: 2rem 1rem;
  }

  .footer__content {
    gap: 2.5rem;
  }
}

/*________________________for medium devices________*/

@media (min-width: 576px) {
  .nav__menu {
    width: 342px;
  }

  .home__search {
    width: 412px;
  }

  .contact__card {
    grid-template-columns: repeat(2, 192px);
    justify-content: center;
  }
}

@media (min-width: 767px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem;
  }

  .home__orbe {
    align-self: flex-end;
  }

  .home__data {
    padding-bottom: 2rem;
  }

  .value__container,
  .contact__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .contact__images {
    order: 1;
  }

  .contact__card {
    justify-content: initial;
  }

  .subscribe__container {
    padding: 3rem 13rem;
  }
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*________________________for large devices________*/

@media (min-width: 1023px) {
  .section {
    padding: 7.5rem 2rem 1rem;
  }

  .section__title {
    font-size: 3.6rem;
  }

  .section__subtitle {
    font-size: var(--normal-font-size);
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__menu {
    width: initial;
    margin-left: auto;
  }

  .nav__list {
    display: flex;
    column-gap: 3rem;
  }

  .nav__link {
    color: var(--text-color-light);
    font-size: var(--normal-font-size);
  }

  .nav__link i {
    display: none;
  }

  .nav__button {
    display: inline-block;
  }

  .active-link {
    background: none;
    box-shadow: none;
    color: var(--first-color);
    font-weight: var(--font-medium);
  }

  .change-theme {
    margin: 0 3rem;
    color: var(--text-color-light);
  }

  .scroll-header .nav__link,
  .scroll-header .change-theme {
    color: var(--text-color);
  }

  .scroll-header .active-link {
    color: var(--first-color);
  }

  .home {
    padding-bottom: 0;
  }

  .home__container {
    padding-top: 5rem;
    column-gap: 2rem;
  }

  .home__data {
    padding-bottom: 4rem;
  }

  .home__title {
    margin-bottom: 2rem;
  }

  .home__description,
  .home__search {
    margin-bottom: 3rem;
    font-size: var(--normal-font-size);
  }

  .home__search input {
    font-size: var(--normal-font-size);
  }

  .home__value {
    column-gap: 3.5rem;
  }

  .home__orbe {
    width: 504px;
    height: 611px;
    border-radius: 256px 256px 0 0;
  }

  .home__img {
    width: 472px;
    height: 634px;
    border-radius: 236px 236px 12px 12px;
    bottom: -4rem;
  }

  .logos__img img {
    height: 100px;
  }

  .popular__container {
    padding-top: 3rem;
  }

  .popular__card {
    width: 320px !important;
    padding: 0.75rem 0.75rem 2rem;
  }

  .popular__data {
    padding: 0 0.25rem 0 0.75rem;
  }

  .value__container {
    align-items: flex-start;
    column-gap: 5rem;
  }

  .value__orbe,
  .contact__orbe {
    width: 501px;
    height: 641px;
    border-radius: 258px 258px 16px 16px;
  }

  .value__img,
  .contact__img {
    width: 461px;
    height: 601px;
    border-radius: 238px 238px 12px 12px;
  }

  .value__img img,
  .contact__img img {
    max-width: initial;
    width: 490px;
  }

  .value__description,
  .contact__description {
    font-size: var(--normal-font-size);
    margin-bottom: 2.5rem;
  }

  .value__accordion-title {
    font-size: var(--normal-font-size);
  }

  .value__accordion-item {
    padding: 1.25rem 1.25rem 1.25rem 1rem;
  }

  .value__accordion-description {
    padding-bottom: 1rem;
    font-size: var(--small-font-size);
  }

  .contact__card {
    grid-template-columns: repeat(2, 200px);
  }

  .contact__card-box {
    padding: 28px 1.5rem 1.5rem;
  }

  .subscribe__container {
    padding: 4rem 10rem 4.5rem;
    border-radius: 2rem;
    border: 12px solid var(--first-color-light);
  }

  .subscribe__title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .subscribe__description {
    font-size: var(--normal-font-size);
    padding: 0 8rem;
  }

  .subscribe__button {
    font-size: var(--normal-font-size);
  }

  .footer__title {
    margin-bottom: 1.5rem;
  }

  .footer__link {
    row-gap: 1rem;
  }

  .footer__info {
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;
  }

  .show-scroll {
    bottom: 3rem;
    right: 3rem;
  }
}

@media (min-width: 1040px) {
  .container {
    margin: 0 auto;
  }

  .home__container {
    column-gap: 4rem;
  }
}

/*________________________for 2k & 4k resolutions________*/

@media (min-width: 2048px) {
  body {
    zoom: 1.5;
  }
}

@media (min-width: 3840px) {
  body {
    zoom: 2;
  }
}
