/*______________________ google fonts ______________________*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/*______________________ variables css ______________________*/
:root {
  --header-height: 3.5rem;

  /*colors*/

  --first-color: #319ec2;
  --first-color-alt: #34a7ce;
  --first-color-light: #75ddff;
  --first-color-lighten: #daf6ff;
  --second-color: #ff5100;
  --title-color: #00384b;
  --text-color: #5e5e5e;
  --text-color-light: #bebebe;
  --border-color: #eaf5f8;
  --body-color: #fff;
  --container-color: #fff;

  /*______________________ typography ______________________*/

  /*1rem = 10px*/

  --body-font: "poppins", sans-serif;
  --biggest-font-size: 3.6rem;
  --h1-font-size: 2.4rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.6rem;
  --normal-font-size: 1.5rem;
  --small-font-size: 1.3rem;
  --smaller-font-size: 1.2rem;

  /*________________font weight ______________*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*________________ z index ______________*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*______________________ responsive typography ______________________*/
@media (min-width: 1024px) {
  :root {
    --biggest-font-size: 6.4rem;
    --h1-font-size: 3.6rem;
    --h2-font-size: 2.4rem;
    --h3-font-size: 2rem;
    --normal-font-size: 1.6rem;
    --small-font-size: 1.4rem;
    --smaller-font-size: 1.3rem;
  }
}

/*______________________ base ______________________*/

html {
  /*1rem = 10px*/
  font-size: 62.5%;

  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: var(--body-font);
  margin: 0;
  outline: none;
  border: none;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: var(--body-color);
  color: var(--text-color);
  border: none;
  height: 200vh;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

img {
  width: 100%;
  height: auto;
}

/*______________________ reusable css classes ______________________*/

.container {
  max-width: 1024px;
  margin: 0 auto; /*was 0 1.5rem*/
}

.grid {
  display: grid;
}

.section {
  padding: 4.5rem 1.5rem 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.section__title span {
  color: var(--second-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--second-color);
}

/*______________________ reusable css classes end ______________________*/

/*______________________ Header & navigation bar ______________________*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: var(--z-fixed);
  transition: 0.5s ease;
  padding: 1.5rem;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  transition: 0.3s;
  width: 150px;
  position: relative;
}

.nav__logo:hover {
  filter: brightness(90%);
}

.nav__logo .logo-dark {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

@media (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    bottom: 2rem;
    left: 0;
    right: 0;
    width: 90%;
    background: var(--container-color);
    box-shadow: 0 0.8rem 2.4rem rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    padding: 1.3rem 3rem;
    border-radius: 1.25rem;
    transition: 0.4s;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__link {
    color: var(--text-color);
    display: flex;
    padding: 0.5rem;
    border-radius: 50%;
  }

  .nav__link i {
    font-size: 2rem;
  }

  .nav__link span {
    display: none;
  }
}

/* change background header*/
.scroll-header {
  background: var(--body-color);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}
.scroll-header .nav__logo .logo-white {
  display: none;
}

.scroll-header .nav__logo .logo-dark {
  display: block;
}

/*______________________ Header & navigation bar ends______________________*/

/*______________________ Home section starts______________________*/

.home {
  background: linear-gradient(170deg, hsl(0, 0%, 22%) 0%, hsl(0, 0%, 6%) 30%);
  padding-bottom: 0;
}

.home__container {
  padding-top: 4rem;
  row-gap: 3.5rem;
}

.home__title,
.home__value-number {
  color: var(--body-color);
}

.home__title {
  font-size: var(--biggest-font-size);
  line-height: 120%;
  margin-bottom: 1.25rem;
}

.home__description {
  color: var(--text-color-light);
  margin-bottom: 2rem;
}

.home__search {
  background: var(--body-color);
  padding: 0.35rem 0.35rem 0.35rem 0.75rem;
  display: flex;
  align-items: center;
  border-radius: 0.75rem;
  border: 3px solid var(--text-color-light);
  margin-bottom: 2rem;
}

.home__search i {
  font-size: 2rem;
  color: var(--text-color);
}

.home__search-input {
  width: 90%;
  background: var(--body-color);
  color: var(--text-color);
  margin: 0 0.5rem;
}

.home__search-input::placeholder {
  color: var(--text-color-light);
}

.home__value {
  display: flex;
  column-gap: 2.5rem;
}

.home__value-number {
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
}

.home__value-number span {
  color: var(--second-color);
}

.home__value-description {
  display: flex;
  color: var(--text-color-light);
  font-size: var(--smaller-font-size);
}

.home__images {
  position: relative;
  display: flex;
  justify-content: center;
}

.home__orbe {
  width: 265px;
  height: 284px;
  background: linear-gradient(
    180deg,
    hsl(0, 0%, 16%) 93%,
    hsl(0, 0%, 67%) 100%
  );
  border-radius: 135px 135px 0 0;
}

.home__img {
  position: absolute;
  overflow: hidden;
  width: 250px;
  height: 300px;

  border-radius: 125px 125px 12px 12px;

  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.25);
  bottom: -2.5rem;
}

.home__img img {
  height: 100%;
  object-fit: cover;
}

/*<!--___________________ button  _______________-->*/

.button {
  display: inline-block;
  background: linear-gradient(
    101deg,
    var(--first-color-alt),
    var(--first-color)
  );
  padding: 14px 28px;
  border-radius: 0.5rem;
  font-size: var(--normal-font-size);
  box-shadow: 0 4px 8px rgba(0, 77, 107, 0.25);
  font-weight: var(--font-medium);
  color: var(--body-color);
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.nav__button {
  display: none;
}

/*______________________ Home section ends______________________*/
/*______________________ logos section starts______________________*/

.logos__container {
  padding-top: 2rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem 2rem;
  justify-items: center;
}

.logos__img img {
  height: 60px;
  opacity: 0.4;
  transition: 0.3s;
}

.logos__img img:hover {
  opacity: 0.8;
}

/*______________________ logos section ends______________________*/
/*______________________ popular section starts______________________*/

.popular__container {
  padding: 1rem 0 5rem;
}

.popular__card {
  width: 290px;
  background: var(--container-color);
  padding: 0.5rem 0.5rem 1.5rem;
  border-radius: 1rem;
  margin: 0 auto;
  transition: 0.4s;
}

.popular__img img {
  border-radius: 1rem;
  object-fit: cover;

  margin-bottom: 1rem;
}

.popular__img {
  height: 30rem;
  min-width: 100%;
  display: inline-flex;
}

.popular__data {
  padding: 0 1rem 0 0.5rem;
}

.popular__price {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  margin-bottom: 0.25rem;
}

.popular__price span {
  color: var(--second-color);
}

.popular__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.75rem;
}

.popular__description {
  font-size: var(--small-font-size);
}

.popular__card:hover {
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.15);
}

/*______________________ popular section ends______________________*/

/*______________________ swiper popular ______________________*/
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  top: initial;
  background: var(--container-color);
  bottom: 0;
  width: initial;
  height: initial;
  border: 2px solid var(--text-color-light);
  font-size: 1.5rem;
  padding: 6px;
  border-radius: 0.5rem;
  color: var(--first-color);
}

.swiper-button-prev {
  left: calc(50% - 3rem);
}

.swiper-button-next {
  right: calc(50% - 3rem);
}

/*______________________ value section starts______________________*/

.value__container {
  row-gap: 3rem;
}

.value__images {
  position: relative;
  display: flex;

  justify-content: center;
}

.value__orbe {
  width: 266px;
  height: 316px;
  background: #eafaff;
  border-radius: 135px 135px 16px 16px;
}

.value__img img {
  height: 100%;
  object-fit: cover;
}

.value__img {
  border-radius: 125px 125px 12px 12px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.25);
  height: 300px;
  inset: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  width: 250px;
}

.value__description {
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}

.value__accordion {
  display: grid;
  row-gap: 1.5rem;
}

.value__accordion-item {
  background: var(--body-color);
  border: 2px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 1rem 0.75rem;
}

.value__accordion-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.value__accordion-icon {
  background: var(--first-color-lighten);
  padding: 5px;
  border-radius: 0.25rem;
  font-size: 18px;
  color: var(--first-color);
  margin-right: 0.75rem;
  transition: 0.3s;
}

.value__accordion-title {
  font-size: var(--small-font-size);
}

.value__accordion-arrow {
  display: inline-flex;
  background: var(--first-color-lighten);
  padding: 0.25rem;
  color: var(--first-color);
  border-radius: 2px;
  font-size: 1rem;
  margin-left: auto;
  transition: 0.3s;
}

.value__accordion-arrow i {
  transition: 0.4s;
}

.value__accordion-description {
  font-size: var(--small-font-size);
  padding: 1.25rem 2.5rem 0 2.75rem;
}

.value__accordion-content {
  overflow: hidden;
  height: 0;
  transition: all 0.25s ease;
}

/*______________________ rotate icon and shadows______________________*/
.accordion-open {
  box-shadow: 0 12px 32px rgba(0, 162, 255, 0.1);
}

.accordion-open .value__accordion-icon {
  box-shadow: 0 4px 4px rgba(0, 162, 255, 0.1);
}

.accordion-open .value__accordion-arrow {
  box-shadow: 0 2px 4px rgba(0, 162, 255, 0.1);
}

.accordion-open .value__accordion-arrow i {
  transform: rotate(-180deg);
}
/*______________________ value section ends______________________*/
/*______________________ Contact section starts______________________*/

.contact__container {
  row-gap: 2rem;
}

.contact__images {
  position: relative;
  display: flex;
  justify-content: center;
}

.contact__orbe {
  width: 266px;
  height: 316px;
  background: #eafaff;
  border-radius: 135px 135px 16px 16px;
}

.contact__img img {
  height: 100%;
  object-fit: cover;
}

.contact__img {
  position: absolute;
  width: 250px;
  height: 300px;
  overflow: hidden;
  border-radius: 125px 125px 12px 12px;
  inset: 0;
  margin: auto;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.25);
}

.contact__description {
  font-size: var(--small-font-size);
  margin-bottom: 2.5rem;
}

.contact__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem 0.75rem;
}

.contact__card-box {
  background: var(--body-color);
  border: 2px solid var(--border-color);
  padding: 1.25rem 0.75rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.contact__card-info {
  display: flex;
  align-items: flex-start;
  column-gap: 0.75rem;
  margin-bottom: 1.25rem;
}

.contact__card i {
  padding: 6px;
  border-radius: 6px;
  background: var(--first-color-lighten);
  font-size: 2rem;
  color: var(--first-color);
}

.contact__card-title {
  font-size: var(--normal-font-size);
}

.contact__card-description {
  font-size: var(--small-font-size);
}

.contact__card-button {
  font-size: var(--small-font-size);
  padding: 14px 0;
  width: 100%;
  border-radius: 0.25rem;
  background: var(--first-color-lighten);
  color: var(--first-color);
  font-weight: var(--font-semi-bold);
  box-shadow: none;
}

.contact__card-button:hover {
  background: var(--first-color);
  color: #fff;
}

.contact__card-box:hover {
  box-shadow: 0 8px 24px rgba(0, 162, 255, 0.1);
}
/*______________________ Contact section ends______________________*/
